---
import Layout from '../layouts/Layout.astro';
import Agenda from '../components/Agenda.astro';
import NavMenu from "../components/NavMenu"
import ImagesMarquee from "../components/ImagesMarquee.astro"
import ImageForMarquee from "../components/ImageForMarquee.astro"
import { Image } from 'astro:assets';

import IconMapMarker from '~icons/mdi/map-marker'
import IconInformation from '~icons/mdi/information'
import IconInstagram from '~icons/mdi/instagram'
import IconGitHub from '~icons/mdi/github'
import IconEmail from '~icons/mdi/email'
import IconIUT from '~icons/local/iut'
import IconBiome from '~icons/local/biome'

import agenda from "../data/agenda.yml";
import oeilImage from "../assets/oeil.png";

import present1Image from "../assets/present-1.png";
import present2Image from "../assets/present-2.png";
import present3Image from "../assets/present-3.png";
import present4Image from "../assets/present-4.png";

import chezBernardImage from "../assets/chez_bernard.png";

const events = agenda
  .map(event => ({
    ...event,
    date: new Date(event.date.split("/").reverse().join("-"))
  }))
  .sort((a, b) => a.date.getTime() - b.date.getTime())
  .filter(event => event.date > new Date());

const nextEvent = events.shift();
---

<Layout title="OEIL">
	<div class="h-[400px]">
    <div
      class="absolute top-0 right-0 left-0 bg-black h-[400px] -z-10"
      style="clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)"
    />

    <NavMenu client:load />

    <div class="text-center mt-8 space-y-2 px-6 pt-24">
      <h1 class="text-5xl sm:text-8xl md:text-9xl text-white tracking-[0.25em] font-800 ml-6">
        L'OEIL
      </h1>
      <p class="text-white/80 font-300 tracking-wider">
        L'Organisation des Étudiants en Informatique de Limoges
      </p>
    </div>
  </div>

  <article class="sm:px-6">
    <div class="relative -mt-30 md:-mt-28 z-10 bg-white max-w-[720px] w-full mx-auto border-4 border-black border-x-0 sm:border-x-4 px-6 py-4">
      {nextEvent ? (
        <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
          <p class="uppercase font-600">
            Prochain Événement
          </p>
          <div class="h-1 w-1 bg-black rounded-full hidden sm:block" />
          <p class="uppercase font-500">
            {nextEvent.date.toLocaleDateString("fr-FR")}
          </p>
        </div>
  
        <p class="mt-2 font-400 text-sm md:text-base">
          {nextEvent.description}
        </p>
  
        <div class="mt-6 flex items-center gap-2">
          <IconMapMarker class="text-xl" />
          {nextEvent['location-link'] ? (
            <a
              href={nextEvent['location-link']}
              class="font-400 text-black/80 hover:text-black hover:underline hover:underline-offset-2 transition-colors"
              rel="noopener noreferrer"
              target="_blank"
            >
              {nextEvent.location}
            </a>
          ) : (
            <p class="font-300">
              {nextEvent.location}
            </p>
          )}
        </div>
      ) : (
        <div class="flex flex-col items-center gap-2">
          <IconInformation class="text-xl" />
          <p>Aucun événement en cours, revenez plus tard !</p>
        </div>
      )}
    </div>
  </article>
  
  <main>
    <section id="agenda" class="mt-16 px-6 sm:px-12"
      style="scroll-margin-top: 124px"
    >
      <h2 class="font-mono text-center text-3xl md:text-4xl tracking-widest">
        # Agenda
      </h2>

      <div class="mt-10 max-w-[640px] border-black border-l-2 mx-auto pb-6 flex flex-col gap-8"
        style="border-image: linear-gradient(#000 0%, #000 92%, #fff 100%) 1;"
      >
        {events.map(event => (
          <Agenda item={event} />
        ))}
      </div>
    </section>

    <section id="presentation" class="mt-16 px-6"
      style="scroll-margin-top: 124px"
    >
      <h2 class="font-mono text-center text-3xl md:text-4xl tracking-widest">
        # Présentation
      </h2>

      <div class="mt-10 pb-6 flex flex-col gap-8">
        <Image class="max-w-[640px] w-full mx-auto border-4 border-black mx-auto shadow-[-8px_8px_0_#000]" src={oeilImage} alt="Les membres de l'OEIL." />
      
        <p class="text-justify md:text-lg max-w-[560px] w-full mx-auto pt-4">
          Des gens vraiment <span class="underline font-600">très stylés</span>.<br/><br/>

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!
        </p>

        <b class="my-8 text-4xl md:text-6xl text-center font-600">
          en gros on est là pour vous
        </b>
      </div>
    </section>

    <div class="left-0 right-0">
      <ImagesMarquee>
        <ImageForMarquee image={present1Image} alt="Présentation 1" />
        <ImageForMarquee image={present2Image} alt="Présentation 2" />
        <ImageForMarquee image={present3Image} alt="Présentation 3" />
        <ImageForMarquee image={present4Image} alt="Présentation 4" />
      </ImagesMarquee>
    </div>

    <section id="partenaires" class="mt-16 px-6 mb-24 flex flex-col items-center gap-12"
      style="scroll-margin-top: 124px"
    >
      <h2 class="font-mono text-center text-3xl md:text-4xl tracking-widest">
        # Partenaires
      </h2>

      <Image src={chezBernardImage} alt="Chez Bernard" />
    
      <p class="font-300 text-2xl text-center text-black/50">
        Merci à eux !
      </p>
    </section>
  </main>

  <footer class="bg-black text-white p-8 md:p-18 flex flex-col gap-12 md:gap-24">
    <div class="flex flex-col gap-2">
      <h2 class="uppercase text-xl md:text-7xl font-600 tracking-widest">
        Nos réseaux
      </h2>
      <p class="text-white/60 md:text-lg tracking-wider">
        Retrouvez nous sur ces diverses plateformes pour toujours être au courant des dernières nouveautés !
      </p>

      <div class="flex items-center gap-6 text-4xl mt-6 text-white/60">
        <a
          href="https://instagram.com/oeil_limoges"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-white"
          title="Instagram"
        >
          <IconInstagram class="hover:text-white transition-colors" />
        </a>
        <a
          href="https://github.com/OeilAssociationLimoges"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-white"
          title="GitHub"
        >
          <IconGitHub class="hover:text-white transition-colors" />
        </a>
        <a
          href="mailto"
          class="hover:text-white"
          title="E-Mail"
        >
          <IconEmail class="hover:text-white transition-colors" />
        </a>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="uppercase text-xl md:text-7xl font-600 tracking-widest">
        L'IUT
      </h2>
      <p class="text-white/60 md:text-lg tracking-wider">
        À noter que ce site n'est pas affilié à l'IUT du Limousin.  
      </p>

      <div class="flex items-center gap-6 text-4xl mt-6 text-white/60">
        <a
          href="https://biome.unilim.fr"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-white"
          title="Biome"
        >
          <IconBiome class="hover:text-white transition-colors" />
        </a>
        <a
          href="https://www.iut.unilim.fr"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-white"
          title="IUT de Limoges"
        >
          <IconIUT class="hover:text-white transition-colors" />
        </a>
      </div>
    </div>
  </footer>
</Layout>
