---
interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
    <meta name="color-scheme" content="dark light">
		<meta name="generator" content={Astro.generator}>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="canonical" href={Astro.url.href}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"> 
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">

		<meta name="title" content={title}>
		<meta name="description" content={description}>
		
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url.href}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.url.href}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>

		<title>{title}</title>

    <style>
      html, body {
        scroll-behavior: smooth;
      }
    </style>
	</head>
	<body class="font-sans bg-white text-black">
		<slot />
	</body>
  <script>
    import "locomotive-scroll/locomotive-scroll.css";
    import LocomotiveScroll from "locomotive-scroll";
    new LocomotiveScroll();
  </script>
</html>
